![piggy_bank](piggy_bank.jpg)

<br>

Personal loans are a lucrative revenue stream for banks. The typical interest rate of a two year loan in the United Kingdom is [around 10%](https://www.experian.com/blogs/ask-experian/whats-a-good-interest-rate-for-a-personal-loan/). This might not sound like a lot, but in September 2022 alone UK consumers borrowed [around £1.5 billion](https://www.ukfinance.org.uk/system/files/2022-12/Household%20Finance%20Review%202022%20Q3-%20Final.pdf), which would mean approximately £300 million in interest generated by banks over two years!

You have been asked to work with a bank to clean and store the data they collected as part of a recent marketing campaign, which aimed to get customers to take out a personal loan. They plan to conduct more marketing campaigns going forward so would like you to set up a PostgreSQL database to store this campaign's data, designing the schema in a way that would allow data from future campaigns to be easily imported. 

They have supplied you with a csv file called `"bank_marketing.csv"`, which you will need to clean, reformat, and split, in order to save separate files based on the tables you will create. It is recommended to use `pandas` for these tasks.

Lastly, you will write the SQL code that the bank can execute to create the tables and populate with the data from the csv files. As the bank are quite strict about their security, you'll provide the database design script as a `.sql` file that they can then run. 

You have been asked to design a database that will have three tables:

## client

| column | data type | description |
|--------|-----------|-------------|
| `id` | `serial` | Client ID - primary key |
| `age` | `integer` | Client's age in years |
| `job` | `text` | Client's type of job |
| `marital` | `text` | Client's marital status |
| `education` | `text` | Client's level of education |
| `credit_default` | `boolean` | Whether the client's credit is in default |
| `housing` | `boolean` | Whether the client has an existing housing loan (mortgage) |
| `loan` | `boolean` | Whether the client has an existing personal loan |

<br>

## campaign

| column | data type | description |
|--------|-----------|-------------|
| `campaign_id` | `serial` | Campaign ID - primary key |
| `client_id` | `serial` | Client ID - references `id` in the `client` table |
| `number_contacts` | `integer` | Number of contact attempts to the client in the current campaign |
| `contact_duration` | `integer` | Last contact duration in seconds |
| `pdays` | `integer` | Number of days since contact in previous campaign (`999` = not previously contacted) |
| `previous_campaign_contacts` | `integer` | Number of contact attempts to the client in the previous campaign |
| `previous_outcome` | `boolean` | Outcome of the previous campaign |
| `campaign_outcome` | `boolean` | Outcome of the current campaign |
| `last_contact_date` | `date` | Last date the client was contacted |

<br>

## economics

| column | data type | description |
|--------|-----------|-------------|
| `client_id` | `serial` | Client ID - references `id` in the `client` table |
| `emp_var_rate` | `float` | Employment variation rate (quarterly indicator) |
| `cons_price_idx` | `float` | Consumer price index (monthly indicator) |
| `euribor_three_months` | `float` | Euro Interbank Offered Rate (euribor) three month rate (daily indicator) |
| `number_employed` | `float` | Number of employees (quarterly indicator)|

In [134]:
import pandas as pd
import numpy as np

df = pd.read_csv('bank_marketing.csv')

# Importing and exploring the Data
print(df.shape)
print(df.info())
df.head()

(41188, 22)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 41188 entries, 0 to 41187
Data columns (total 22 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   client_id       41188 non-null  int64
 1   age             41188 non-null  int64
 2   job             41188 non-null  object
 3   marital         41188 non-null  object
 4   education       41188 non-null  object
 5   credit_default  41188 non-null  object
 6   housing         41188 non-null  object
 7   loan            41188 non-null  object
 8   contact         41188 non-null  object
 9   month           41188 non-null  object
 10  day             41188 non-null  int64
 11  duration        41188 non-null  int64
 12  campaign        41188 non-null  int64
 13  pdays           41188 non-null  int64
 14  previous        41188 non-null  int64
 15  poutcome        41188 non-null  object
 16  emp_var_rate    41188 non-null  float64
 17  cons_price_idx  41188 non-null  float64
 18  cons_conf_idx   41188 non-null  float64
 19  euribor3m       41188 non-null  float64
 20  nr_employed     41188 non-null  float64
 21  y               41188 non-null  object
dtypes: float64(5), int64(7), object(10)
memory usage: 6.9+ MB
None

   client_id  age        job  ... euribor3m nr_employed   y
0          0   56  housemaid  ...     4.857      5191.0  no
1          1   57   services  ...     4.857      5191.0  no
2          2   37   services  ...     4.857      5191.0  no
3          3   40     admin.  ...     4.857      5191.0  no
4          4   56   services  ...     4.857      5191.0  no

[5 rows x 22 columns]

In [135]:
# Split the dataFrame into 3
client = df.loc[:,
    ['client_id', # rename to id
     'age',
     'job',
     'marital',
     'education',
     'credit_default',
     'housing',
     'loan']
]

campaign = df.loc[:,
    [
        # 'campaign_id', //
     'client_id',
     'campaign', # name to number_contacts
     'duration', # contact_duration
     'pdays',
     'previous', # previous_campaign_contacts
     'poutcome', # previous_outcome
     'y'] # campaign_outcome
     # 'last_contact_date' 
]

economics = df.loc[:,
   [
    'client_id',
    'emp_var_rate',
    'cons_price_idx',
    'euribor3m', # euribor_three_months
    'nr_employed', # number_employed
   ]
]

print(client.columns, campaign.columns, economics.columns, sep='\n')

Index(['client_id', 'age', 'job', 'marital', 'education', 'credit_default',
       'housing', 'loan'],
      dtype='object')
Index(['client_id', 'campaign', 'duration', 'pdays', 'previous', 'poutcome',
       'y'],
      dtype='object')
Index(['client_id', 'emp_var_rate', 'cons_price_idx', 'euribor3m',
       'nr_employed'],
      dtype='object')

In [136]:
# Rename columns
client_n_map = {'client_id': 'id'}
client = client.rename(columns=client_n_map)

campaign_n_map = {
    'duration': 'contact_duration',
    'previous': 'previous_campaign_contacts',
    'y': 'campaign_outcome',
    'poutcome': 'previous_outcome',
    'campaign': 'number_contacts'
}
campaign = campaign.rename(columns=campaign_n_map)

economics_n_map = {
    "euribor3m": "euribor_three_months",
    "nr_employed": "number_employed"
}
economics = economics.rename(columns=economics_n_map)

# checking columns new names
print(client.columns, campaign.columns, economics.columns, sep='\n')

Index(['id', 'age', 'job', 'marital', 'education', 'credit_default', 'housing',
       'loan'],
      dtype='object')
Index(['client_id', 'number_contacts', 'contact_duration', 'pdays',
       'previous_campaign_contacts', 'previous_outcome', 'campaign_outcome'],
      dtype='object')
Index(['client_id', 'emp_var_rate', 'cons_price_idx', 'euribor_three_months',
       'number_employed'],
      dtype='object')

In [137]:
# reformating client
# checking current state
print(client['education'].value_counts(dropna=False))

client['education'] = client['education'].str.replace('.', '_')
client.loc[client['education'] == 'unknown', 'education'] = np.NaN
# reformating client -> job
client['job'] = client['job'].str.replace('.', '')

# asserting cleaning result
print(client['education'].value_counts(dropna=False))

university.degree      12168
high.school             9515
basic.9y                6045
professional.course     5243
basic.4y                4176
basic.6y                2292
unknown                 1731
illiterate                18
Name: education, dtype: int64
university_degree      12168
high_school             9515
basic_9y                6045
professional_course     5243
basic_4y                4176
basic_6y                2292
NaN                     1731
illiterate                18
Name: education, dtype: int64

In [138]:
# reformating campaign
# checking current state
campaign['previous_outcome'].value_counts(dropna=False)

campaign = campaign.replace({'previous_outcome': {'success': 1, 'failure': 0, 'nonexistent': np.nan}})
campaign["campaign_outcome"] = campaign["campaign_outcome"].map({"yes": 1, "no": 0})
campaign['campaign_id'] = 1 

df['month_num'] = df['month']
df.replace({'month_num':{
    'jun':1,
    'feb':2,
    'mar':3,
    'apr':4,
    'may':5,
    'jun':6,
    'jul':7,
    'aug':8,
    'sep':9,
    'oct':10,
    'nov':11,
    'dec':12
}}, inplace=True)
campaign['last_contact_date'] =  pd.to_datetime(
    dict(year='2022', month= df.month_num, day= df.day)
)
df.drop('month_num', axis=1, inplace=True)

# asserting result
campaign['last_contact_date'].value_counts(dropna=False)

2022-05-22    497
2022-05-07    493
2022-05-01    479
2022-05-05    473
2022-05-25    465
             ...
2022-12-27      4
2022-12-26      4
2022-12-03      4
2022-12-15      3
2022-12-19      3
Name: last_contact_date, Length: 306, dtype: int64

In [139]:
#saving to csv files
client.to_csv('client.csv', index=False)
campaign.to_csv('campaign.csv', index=False)
economics.to_csv('economics.csv', index=False)

In [140]:
client_table = """
    CREATE Table client
    (
        id	SERIAL PRIMARY KEY,
        age	integer,
        job	text,
        marital	text,
        education	text,
        credit_default	boolean,
        housing	boolean,
        loan	boolean
    );
    
    \copy client from 'client.csv' DELIMITER ',' CSV HEADER
"""

In [141]:
campaign_table = """
CREATE TABLE campaign
(
    campaign_id	serial PRIMARY KEY,
    client_id serial REFERENCES client (id),
    number_contacts	integer,
    contact_duration integer,
    pdays integer,
    previous_campaign_contacts integer,
    previous_outcome boolean,
    campaign_outcome boolean,
    last_contact_date date
);
    
\copy campaign from 'campaign.csv' DELIMITER ',' CSV HEADER
"""

In [142]:
economics_table = """CREATE TABLE economics
(
    client_id SERIAL references client (id),
    emp_var_rate FLOAT,
    cons_price_idx FLOAT,
    euribor_three_months FLOAT,
    number_employed FLOAT
);
\copy economics from 'economics.csv' DELIMITER ',' CSV HEADER
"""